.hotelFilterSideBar{
    width: 298px;
    height: 600px;
    position: relative;
    &-container{
        width: 298px;
        height: 600px;
        position: fixed;
        // top:50px
        left: 110px;
    }
}